{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "chrome": "72",
          "firefox": "60"
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "require('react').createElement"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}
